<nav class="bg-dark text-white vh-100 p-3" style="width: 220px">
  <h5 class="mb-4">Admin Panel</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/users"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        Users
      </a>
    </li>
  </ul>
</nav>
